<h1>Question #<%= @the_question.id %> details</h1>

<div>
  <a href="/questions">Go back</a>
  <a href="/delete_question/<%= @the_question.id %>">Delete question</a>
</div>

<dl>
  <dt>Enrollment</dt>
  <dd><%= @the_question.enrollment_id %></dd>

  <dt>Body</dt>
  <dd><%= @the_question.body %></dd>

  <dt>Student answer</dt>
  <dd><%= @the_question.student_answer %></dd>

  <dt>Feedback</dt>
  <dd><%= @the_question.feedback %></dd>

  <dt>Score</dt>
  <dd><%= @the_question.score %></dd>

  <dt>Created at</dt>
  <dd><%= time_ago_in_words(@the_question.created_at) %> ago</dd>

  <dt>Updated at</dt>
  <dd><%= time_ago_in_words(@the_question.updated_at) %> ago</dd>
</dl>

<hr>

<div>
  <h2>Edit question</h2>

  <form action="/modify_question/<%= @the_question.id %>"  method="post" >
    <div>
      <label for="enrollment_id_box">Enrollment</label>
      <input type="text" id="enrollment_id_box" name="query_enrollment_id" value="<%= @the_question.enrollment_id %>">
    </div>

    <div>
      <label for="body_box">Body</label>
      <textarea id="body_box" name="query_body"><%= @the_question.body %></textarea>
    </div>

    <div>
      <label for="student_answer_box">Student answer</label>
      <textarea id="student_answer_box" name="query_student_answer"><%= @the_question.student_answer %></textarea>
    </div>

    <div>
      <label for="feedback_box">Feedback</label>
      <textarea id="feedback_box" name="query_feedback"><%= @the_question.feedback %></textarea>
    </div>

    <div>
      <label for="score_box">Score</label>
      <input type="text" id="score_box" name="query_score" value="<%= @the_question.score %>">
    </div>

    <button>Update question</button>
  </form>
</div>

<hr>
