<div>
  <div>
    <h1>
      Message #<%= @the_message.id %> details
    </h1>

    <div>
      <div>
        <a href="/messages">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_message/<%= @the_message.id %>">
          Delete message
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Enrollment
      </dt>
      <dd>
        <%= @the_message.enrollment_id %>
      </dd>

      <dt>
        Body
      </dt>
      <dd>
        <%= @the_message.body %>
      </dd>

      <dt>
        Role
      </dt>
      <dd>
        <%= @the_message.role %>
      </dd>

      <dt>
        Score
      </dt>
      <dd>
        <%= @the_message.score %>
      </dd>

      <dt>
        Feedback
      </dt>
      <dd>
        <%= @the_message.feedback %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_message.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_message.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit message
    </h2>

    <form action="/modify_message/<%= @the_message.id %>"  method="post" >
      <div>
        <label for="enrollment_id_box">
          Enrollment
        </label>

        <input type="text" id="enrollment_id_box" name="query_enrollment_id" value="<%= @the_message.enrollment_id %>">
      </div>

      <div>
        <label for="body_box">
          Body
        </label>

        <textarea id="body_box" name="query_body"><%= @the_message.body %></textarea>
      </div>

      <div>
        <label for="role_box">
          Role
        </label>

        <input type="text" id="role_box" name="query_role" value="<%= @the_message.role %>">
      </div>

      <div>
        <label for="score_box">
          Score
        </label>

        <input type="text" id="score_box" name="query_score" value="<%= @the_message.score %>">
      </div>

      <div>
        <label for="feedback_box">
          Feedback
        </label>

        <textarea id="feedback_box" name="query_feedback"><%= @the_message.feedback %></textarea>
      </div>

      <button>
        Update message
      </button>
    </form>
  </div>
</div>

<hr>
