<h1>Sample question #<%= @the_sample_question.id %> details</h1>

<div>
  <a href="/sample_questions">Go back</a>
  <a href="/delete_sample_question/<%= @the_sample_question.id %>">Delete sample question</a>
</div>

<dl>
  <dt>Question body</dt>
  <dd><%= @the_sample_question.question_body %></dd>

  <dt>Course</dt>
  <dd><%= @the_sample_question.course_id %></dd>

  <dt>Created at</dt>
  <dd><%= time_ago_in_words(@the_sample_question.created_at) %> ago</dd>

  <dt>Updated at</dt>
  <dd><%= time_ago_in_words(@the_sample_question.updated_at) %> ago</dd>
</dl>

<hr>

<div>
  <h2>Edit sample question</h2>

  <form action="/modify_sample_question/<%= @the_sample_question.id %>"  method="post" >
    <div>
      <label for="question_body_box">Question body</label>
      <textarea id="question_body_box" name="query_question_body"><%= @the_sample_question.question_body %></textarea>
    </div>

    <div>
      <label for="course_id_box">Course</label>
      <input type="text" id="course_id_box" name="query_course_id" value="<%= @the_sample_question.course_id %>">
    </div>

    <button>Update sample question</button>
  </form>
</div>

<hr>
