<h1>Learning Quiz</h1>
<div>
  <a href="/enrollments/<%= @enrollment.id %>">Return to Enrollment</a>
</div>
<hr>

<table border="1">
  <tr>
    <th>Body</th>
    <th>Role</th>
    <th>Score</th>
    <th>Feedback</th>
    <th>Created at</th>
  </tr>


  <tr>

    <td><%= message.body %></td>
    <td><%= message.role %></td>
    <td><%= message.score %></td>
    <td><%= message.feedback %></td>
    <td><%= time_ago_in_words(message.created_at) %> ago</td>
  </tr>
  <% end %>
</table>


<div>
<% @messages.each do |message| %>
  <% if message.role == "system" %>
  <div>
    <dt>System Message</dt>
    <dd><%= message.body %>
  </div>
  <% elsif message.role == "assistant" %>
  <div>
    <% if !message.feedback.empty? %>
      <dt>Feedback:</dt>
      <dd><%= message.feedback %></dd>
    <% end %>
    <% if !message.score.empty? %>
      <dt>Score:</dt>
      <dd><%= message.score %></dd>
    <% end %>
    <dt>Question:</dt>
    <dd><%= message.body %></dd>
  </div>
  <% else %>
    <dt>Student Answer:</dt>
    <dd><%= message.body %>
  <% end %>
<% end %>
</div>


<dt>Student Answer:</dt>
<dd>
<form action="/insert_message" method="post">
  <div>
    <input type="hidden" id="enrollment_id_box" name="query_enrollment_id" value="<%= @enrollment.id %>">
    <input type="hidden" id="role_box" name="query_role" value="user">
  </div>
  <div>
    <label for="body_box">Body</label>
    <textarea id="body_box" name="query_body" rows="3"></textarea>
  </div>
  <button>Create message</button>
</form>
</dd>
