<h1>Learning Quiz</h1>
<div>
  <a href="/enrollments/<%= @enrollment.id %>">Return to Enrollment</a>
</div>
<hr>

<div>
  <div>
    <dt>System Message</dt>
    <dd><%= @enrollment.course.system_prompt %>
  </div>
<% @enrollment.questions.each do |question| %>
  <% unless question.feedback.empty? %>
  <div>
    <dt>Feedback</dt>
    <dd><%= question.question_body %></dd>
  </div>
  <% end %>
  <div>
    <dt>Question</dt>
    <dd><%= question.question_body %></dd>
  </div>
  <% unless question.score.empty? %>
  <div>
    <dt>Score</dt>
    <dd><%= question.score %></dd>
  </div>
  <% end %>

  <% if question.student_answer.empty? %>
  <div>
    <dt>Student Answer</dt>
    <dd>
      <form action="/question_update/<%= question.id %>" method="post">
        <textarea id="body_box" name="query_body" rows="3"></textarea>
        <button>Create message</button>
      </form>
    </dd>
  </div>
  <% else %>
  <div>
    <dt>Student Answer</dt>
    <dd><%= question.student_answer %></dd>
  </div>
  <% end %>
<% end %>
</div>
