<h1>Enrollment #<%= @the_enrollment.id %> details</h1>

<div>
  <a href="/student_home">Go back</a>
  <% if student_signed_in? && current_student.id == @the_enrollment.student_id %>
    <a href="/delete_enrollment/<%= @the_enrollment.id %>">Delete enrollment</a>
  <% end %>
</div>

<dl>
  <dt>Course</dt>
  <dd><a href="/courses/<%= @the_enrollment.course.id %>"><%= @the_enrollment.course.name %></a></dd>

  <dt>Student</dt>
  <dd><%= @the_enrollment.student.name %></dd>

  <dt>Status</dt>
  <dd><%= @the_enrollment.status %></dd>


  <% if (student_signed_in? && current_student.id == @the_enrollment.student_id) || (instructor_signed_in? && current_instructor.id == @the_enrollment.course.instructor_id) %>
    <dt>Grade</dt>
    <dd><%= @the_enrollment.grade %></dd>
  <% end %>

  <dt>Created at</dt>
  <dd><%= time_ago_in_words(@the_enrollment.created_at) %> ago</dd>

  <dt>Updated at</dt>
  <dd><%= time_ago_in_words(@the_enrollment.updated_at) %> ago</dd>
</dl>

<% if instructor_signed_in? && @the_enrollment.course.instructor_id == current_instructor.id %>
<hr>
<div>
  <h2>Grade student</h2>

  <form action="/modify_enrollment/<%= @the_enrollment.id %>"  method="post" >
    <div>
      <input type="hidden" id="course_id_box" name="query_course_id" value="<%= @the_enrollment.course_id %>">
      <input type="hidden" id="student_id_box" name="query_student_id" value="<%= @the_enrollment.student_id %>">
    </div>

    <div>
      <label for="status_box">Status</label>
      <select name="query_status" id="status_box">
        <option value="In Progress">In Progress</option>
        <option value="On Hold">On Hold</option>
        <option value="Passed">Passed</option>
        <option value="Failed">Failed</option>
        <option value="Incomplete">Incomplete</option>
      </select>
    </div>

    <div>
      <label for="grade_box">Grade</label>
      <input type="number" id="grade_box" name="query_grade" value="<%= @the_enrollment.grade %>">
    </div>

    <button>Update enrollment</button>
  </form>
</div>
<% end %>
<hr>

<% if (student_signed_in? && current_student.id == @the_enrollment.student_id) || (instructor_signed_in? && current_instructor.id == @the_enrollment.course.instructor_id) %>
<div>
  <h2>List of Questions</h2>

  <table border="1">
    <tr>
      <th>Question</th>
      <th>Given Answer</th>
      <th>Feedback</th>
      <th>Score</th>
      <th>Created at</th>
      <th>Updated at</th>
    </tr>

    <% @questions.each do |question| %>
    <tr>
      <td><%= question.body %></td>
      <td><%= question.student_answer %></td>
      <td><%= question.feedback %></td>
      <td><%= question.score %></td>
      <td><%= time_ago_in_words(question.created_at) %> ago</td>
      <td><%= time_ago_in_words(question.updated_at) %> ago</td>
    </tr>
    <% end %>
  </table>
</div>
<% end %>
