<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/courses">Courses</a>
      <a href="/enrollments">Enrollments</a>
    </nav>
    <nav>
      <a href="/student_home">Student Home</a>
      <a href="/students/sign_up">Student Sign Up</a>
      <a href="/students/sign_in">Student Sign In</a>
      <a href="/students/sign_out">Student Sign Out</a>
      <a href="/students/edit">Student Profile Edit</a>
    </nav>
    <nav>
      <a href="/instructor_home">Instructor Home</a>
      <a href="/instructors/sign_up">Instructor Sign Up</a>
      <a href="/instructors/sign_in">Instructor Sign In</a>
      <a href="/instructors/sign_out">Instructor Sign Out</a>
      <a href="/instructors/edit">Instructor Profile Edit</a>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
