<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <% if instructor_signed_in? %>
        <a href="/instructor_home">Home</a>
        <a href="/courses">Courses</a>
      <% elsif student_signed_in? %>
        <a href="/student_home">Home</a>
        <a href="/courses">Courses</a>
      <% end %>
    </nav>
    <nav>
      <% if student_signed_in? %>
        <a href="/students/sign_out">Sign Out</a>
        <a href="/students/edit">Profile Edit</a>
      <% elsif instructor_signed_in? %>
        <a href="/instructors/sign_out">Sign Out</a>
        <a href="/instructors/edit">Profile Edit</a>
      <% else %>
        <a href="/">Login</a>
      <% end %>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
